
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Index";
}
    <div class="pagetitle">
        <h1>Admin Paneli</h1>
        
    </div><!-- End Page Title -->

  
            <div class="col-lg-12">
                <img src="~/SiteLayout/assets/img/hero-bg.jpg" alt="" class="img-fluid">
            
            </div>
      