
@model HastaneOtomasyonSistemi.Models.Admin

@{
    ViewData["Title"] = "Login";
	Layout=null;
}
<link rel="stylesheet" href="~/css/login.css" />

<body>
<h2>ADMİN GİRİŞ PANELİ</h2>
<div class="container" id="container">
	
	<div class="form-container sign-in-container">

		<form asp-action="Login" method="post">
			<h2>ADMİN GİRİŞ</h2>
			<div asp-validation-summary="ModelOnly" ></div>

			<input asp-for="Email" class="form-control" placeholder="E-MAIL" />

			<input asp-for="Sifre" type="password" class="form-control" placeholder="ŞİFRE" />
				@if (!string.IsNullOrEmpty(ViewBag.UyariA))
				{
					<p style="color: red;">@ViewBag.UyariA</p>
				}
			<button type="submit" class="btn btn-primary">GİRİŞ</button>
		</form>
			

	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>HOŞGEDLİNİZ!</h1>
				<p>Admin paneli ve daha fazla bilgiye ulaşmak için giriş yapınız.</p>
				
			</div>
		</div>
	</div>
</div>
</body>
<footer>
	<p>
		Created with AYŞENUR YILDIRIM <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://florin-pop.com">Florin Pop</a>
		- Read how I created this and how you can join the challenge
		<a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.

	</p>

</footer>
<script src="~/js/login.js"></script>