@model HastaneOtomasyonSistemi.Models.Doktor
@* @model MultipleModelsViewModel *@
@{
	ViewData["Title"] = "DLogin";
	Layout = null;
}


<link rel="stylesheet" href="~/css/login.css" />
	

<h2>DOKTOR GİRİŞ EKRANI</h2>


<div class="container" id="container">
	<div class="form-container sign-in-container">

		<form asp-action="DLogin" method="post">
			<h2>DOKTOR GİRİŞ</h2>
			<div asp-validation-summary="ModelOnly"></div>

			<input asp-for="KimlikNo" class="form-control" placeholder="Kimlik No" />

			<input asp-for="Sifre" type="password" class="form-control" placeholder="Şifre" />

			<button type="submit" class="btn btn-primary">GİRİŞ</button>
		</form>
	</div>
	
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Hoşgeldiniz!</h1>
				<p>Doktor paneline erişmek ya da diğer işlemleriniz için lütfen giriş yapınız. </p>
				
			</div>
			@* <div class="overlay-panel overlay-right">
				<h1>Hoşgeldiniz!</h1>
				<p>Randevu oluşturmak ya da diğer işlemleriniz için lütfen giriş yapınız.</p>
				
			</div> *@
		</div>
	</div>
</div>

<footer>
	Created with <i class="fa fa-heart"></i> by
	<a target="_blank" href="#">Ayşenur Yıldırım</a>
	- Read how I created this
	<a target="_blank" href="#">here</a>.

	<script src="~/js/login.js"></script>
</footer>