@model HastaneOtomasyonSistemi.Models.Randevu

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_HastaLayout.cshtml";
}

<h1>Create</h1>

<h4>Randevu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ilId" class="control-label"></label>
                <select asp-for="ilId" asp-items="ViewBag.Iller" class="form-control" id="ilSelect"></select>
            </div>
            <div class="form-group">
                <label asp-for="ilceId" class="control-label"></label>
                <select asp-for="ilceId" asp-items="ViewBag.Ilceler" class="form-control" id="ilceSelect"></select>
            </div>
            <div class="form-group">
                <label asp-for="hastaneId" class="control-label"></label>
                <select asp-for="hastaneId" asp-items="ViewBag.Hastaneler" class="form-control" id="HastaneSelect"></select>
            </div>
            <div class="form-group">
                <label asp-for="poliklinikId" class="control-label"></label>
                <select asp-for="poliklinikId" asp-items="ViewBag.Poliklinikler" class="form-control" id="PoliklinikSelect"></select>
            </div>
            <div class="form-group">
                <label asp-for="doktorId" class="control-label"></label>
                <select asp-for="doktorId" asp-items="@(new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Ad"))" class="form-control" id="DoktorSelect"></select>
            </div>
            <div class="form-group">
                <label asp-for="RandevuTarihi" class="control-label"></label>
                <input asp-for="RandevuTarihi" class="form-control" />
                <span asp-validation-for="RandevuTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RandevuDurumu" class="control-label"></label>
                <input asp-for="RandevuDurumu" class="form-control" />
                <span asp-validation-for="RandevuDurumu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="HastaRandevu">Back to List</a>
</div>

 @section Scripts {
<script>
    $(document).ready(function () {
            // İl seçeneği için
            var ilSelect = $("#ilSelect");
            $.ajax({
                url: '/Poliklinik/GetIller',
                type: 'GET',
                success: function (data) {
                    ilSelect.empty();
                    ilSelect.append($('<option>').text("Select an option").attr('value', ''));
                    $.each(data, function (i, item) {
                        ilSelect.append($('<option>').text(item.text).attr('value', item.value));
                    });
                }
            });

        // İlçe seçeneği için
        var ilceSelect = $("#ilceSelect");
        ilceSelect.empty();
        ilceSelect.append($('<option>').text("Bir İlçe Seçiniz..").attr('value', ''));

        // Hastane seçeneği için
        var HastaneSelect = $("#HastaneSelect");
        HastaneSelect.empty();
        HastaneSelect.append($('<option>').text("Bir Hastane Seçiniz..").attr('value', ''));

        // Poliklinik seçeneği için
        var PoliklinikSelect = $("#PoliklinikSelect");
        PoliklinikSelect.empty();
        PoliklinikSelect.append($('<option>').text("Bir Poliklinik Seçiniz..").attr('value', ''));

        // Doktor seçeneği için
        var DoktorSelect = $("#DoktorSelect");
        DoktorSelect.empty();
        DoktorSelect.append($('<option>').text("Bir Doktor Seçiniz..").attr('value', ''));

        ilSelect.change(function () {
            var ilId = $(this).val();
            $.ajax({
                url: '/Randevu/GetIlceler',
                type: 'GET',
                data: { ilId: ilId },
                success: function (data) {
                    ilceSelect.empty();
                    ilceSelect.append($('<option>').text("Bir İlçe Seçiniz..").attr('value', ''));
                    $.each(data, function (i, item) {
                        ilceSelect.append($('<option>').text(item.text).attr('value', item.value));
                    });
                }
            });
        });

        ilceSelect.change(function () {
            var ilceId = $(this).val();
            $.ajax({
                url: '/Randevu/GetHastane',
                type: 'GET',
                data: { ilceId: ilceId },
                success: function (data) {
                    HastaneSelect.empty();
                    HastaneSelect.append($('<option>').text("Bir Hastane Seçiniz..").attr('value', ''));
                    $.each(data, function (i, item) {
                        HastaneSelect.append($('<option>').text(item.text).attr('value', item.value));
                    });
                }
            });
        });

        HastaneSelect.change(function () {
            var hastaneId = $(this).val();
            $.ajax({
                url: '/Randevu/GetPoliklinik',
                type: 'GET',
                data: { hastaneId: hastaneId },
                success: function (data) {
                    PoliklinikSelect.empty();
                    PoliklinikSelect.append($('<option>').text("Bir Poliklinik Seçiniz..").attr('value', ''));
                    $.each(data, function (i, item) {
                        PoliklinikSelect.append($('<option>').text(item.text).attr('value', item.value));
                    });
                }
            });
        });

        PoliklinikSelect.change(function () {
            var poliklinikId = $(this).val();
            $.ajax({
                url: '/Randevu/GetDoktor',
                type: 'GET',
                data: { poliklinikId: poliklinikId },
                success: function (data) {
                    DoktorSelect.empty();
                    DoktorSelect.append($('<option>').text("Bir Doktor Seçiniz..").attr('value', ''));
                    $.each(data, function (i, item) {
                        DoktorSelect.append($('<option>').text(item.text).attr('value', item.value));
                    });
                }
            });
        });
    });
</script>

}