@model HastaneOtomasyonSistemi.Models.Randevu

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_HastaLayout.cshtml";
}

<h1>Düzenle</h1>

<h4>Randevu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="hastaId" class="control-label"></label>
                <select asp-for="hastaId" class="form-control" asp-items="ViewBag.hastaId"></select>
                <span asp-validation-for="hastaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ilId" class="control-label"></label>
                <select asp-for="ilId" class="form-control" asp-items="ViewBag.ilId"></select>
                <span asp-validation-for="ilId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ilceId" class="control-label"></label>
                <select asp-for="ilceId" class="form-control" asp-items="ViewBag.ilceId"></select>
                <span asp-validation-for="ilceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hastaneId" class="control-label"></label>
                <select asp-for="hastaneId" class="form-control" asp-items="ViewBag.hastaneId"></select>
                <span asp-validation-for="hastaneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RandevuTarihi" class="control-label"></label>
                <input asp-for="RandevuTarihi" class="form-control" />
                <span asp-validation-for="RandevuTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RandevuDurumu" class="control-label"></label>
                <input asp-for="RandevuDurumu" class="form-control" />
                <span asp-validation-for="RandevuDurumu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="doktorId" class="control-label"></label>
                <select asp-for="doktorId" class="form-control" asp-items="ViewBag.doktorId"></select>
                <span asp-validation-for="doktorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="poliklinikId" class="control-label"></label>
                <select asp-for="poliklinikId" class="form-control" asp-items="ViewBag.poliklinikId"></select>
                <span asp-validation-for="poliklinikId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="HastaRandevu">Listeyi görüntüle</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
